header h1 {
  text-transform: uppercase;
}
a, button {
  cursor: pointer;
}
.danger {
  background: salmon;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list button, .list details {
  width: 100%;
}
.list summary {
  font-weight: normal;
  cursor: pointer;
  outline: none;
}
.list summary strong {
  float: right;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.form > * {
  width: 100%;
}

@media (min-width: 768px) {
  .list button {
    width: 30%;
    margin: .5em;
  }
}